img {
  width: 60%
}

#wrapper {
  background-color: #1D2228
}

#editor, #preview-area {
  background-color: #E1E2E2;
  padding: 10px;
  margin-top: 15px;
  border: 3px #FB8122 solid;
}

.title, .subtitle {
  color: #FB8122
}

.subtitle {
  margin-left: 12.5%;
  margin-bottom: -2px
}